@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.navbar-toggler{
    border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #000888;
    display: block;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
            transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar{
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background-color: #000888;
}
html{
    scroll-behavior: smooth;
}
.home-body{
    background-image: url(./images/homepage-background-image0.2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter, Arial, Helvetica, sans-serif, Courier, monospace;
    width: 100%;
    scroll-margin-top: 200px;
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif, Courier, monospace;
}
main{
    margin-top: 100px;
}

.fs-1-custom {
    font-size: calc(2rem + 1.5vw) !important;
}


.text-justify{
    text-align: justify;
}

.custom-blue{
    color: #000888 !important;
}

.custom-box-shadow{
    -webkit-box-shadow: 2px 2px 10px 1px #000000; 
    box-shadow: 2px 2px 10px 1px #000000;
}

.custom-border{
    border: 3px solid black;
}


.text-gradient {
    /* Same styles as before */
    background: #121FCF;
    background: -webkit-gradient(linear, left top, right top, from(#000888), to(#9b0502));
    background: -o-linear-gradient(left, #000888 0%, #9b0502 100%);
    background: linear-gradient(to right, #000888 0%, #9b0502 100%);
    -webkit-background-clip: text;
    background-clip: text;
    clip: text;
    -webkit-text-fill-color: transparent;
  }
.w-60{
    width: 60%;
}
  
footer a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

footer a:hover{
    text-decoration: underline;
}

.footer-menu{
    margin-top: 10px;
}

.hidden{
    opacity: 0;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.show{
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

@media(prefers-reduced-motion){
    .hidden{
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#progress{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: white;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #000888;
}