body{
    background-image: url(./images/homepage-background-image0.2.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    width: 100%;
}

.fs-1-custom {
    font-size: calc(2rem + 1.5vw) !important;
}


.text-justify{
    text-align: justify;
}